{{ define "body_classes" }}page-about{{ end }}
{{- define "main" }}
<div class="pagetitle">
  种族不代表荣耀，我见过最高尚的兽人，也见过最卑劣的人类。
</div>
<div class="about-img">
  <img src="" class="img-hide" />
  <div class="about-img-text">Hello 2024, Hello Friend</div>
  <div class="about-img-intro"></div>
</div>
<div class="about-text" style="background:#ef7c7c">
关于我🕴🥵
</div>
<div class="about-text">
平民百姓，何足挂齿。
我喜欢网络，喜欢未知的东西。
就像这个网站的出现，没有目的，只有兴趣。
涉足网络十多年， 接触了许多新的东西，认识了一些朋友。
如果你想认识我， 那么欢迎你， 我很乐意！
 </div>
<div class="about-text" span style="background:#ef7c7c">
关于本博客📚
</div>
<div class="about-text">
这里是我小天地，用来记录生活。
对我个人而言，如果一件事没有记录，
那这件事终将在记忆中被遗忘，进而找不到他存在的任何证据。
我在这里写下的文字，是我存在的最好的证明。</div>
<script src="/js/about-photo.js"></script>
<div class="article-comments">
  {{- partial "artalk" . -}}
</div>
{{- end }}